<!--section-->
<section class="timeline_area section_padding_130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6 mt-3">
                <!-- Section Heading-->
                <div class="section_heading text-center">
                    <h4>
                        Learning {{ name }} <sub>
                    </h4>
                    <a class="btn btn-link" href="/history"><i class="fa fa-history"></i> History</a></sub>
                    <h3>A brief notes about..</h3>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Timeline Area-->
                <div class="apland-timeline-area">
                    <div id="app"></div>
                </div>
            </div>
        </div>
    </div>
</section>