@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
}

.sidenav {
    float: left;
    width: 20%;
    height: 100vh;
    background-color: #0a0330;
}

.sidenav a {
    display: block;
    background-color: inherit;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 12px 40px;
    text-align: left;
    cursor: pointer;
    transition: 0.5s;
    font-size: 16px;
}

/* .back {
    margin-top: 0.5rem;
} */

.home {
    margin-top: 15em;
}

.navcontent {
    float: left;
    height: 100vh;
    width: 80%;
    padding: 0px 20px;
    background-color: #c8d5fb;
}

.sidenav a:hover {
    background-color: #fac6c6;
}

.sidenav a.active {
    background-color: #f87a8b;
}

/** home section **/
#home>div {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 26px;
}

/** about section **/
#about {
    padding: 20px 40px;
    font-size: 18px;
}

#about h3 {
    margin-top: 5rem;
    font-size: 28px;
    border-bottom: 5px solid #3141f2;
    width: 80px;
}

#about .row {
    display: inline-flex;
    width: 100%;
    text-align: left;
}

.row_1,
.row_2 {
    display: block;
    width: 100%;
    margin-right: 12em;
    padding: 13px;
}

#about li {
    list-style-type: none;
    line-height: 2.3rem;
}

#about p {
    margin: 12px;
}


/**Resume**/
#resume {
    padding: 15px 12px;
    display: flex;
    font-size: 14px;
}

.address {
    padding: 2px;
    font-style: italic;
    float: left;
}

.academic,
.experience,
.resume-title {
    display: inline-flex;
    width: 100%;
    padding: 5px;
}

.resume-item {
    margin: 5px;
}

#resume li {
    list-style-type: none;
}

/****/

/** services **/
#services {
    padding: 20px 40px;
}

#services .container {
    margin-top: 5rem;
    width: 100%;
}

#services h2 {
    font-size: 28px;
    border-bottom: 5px solid #3141f2;
    width: 120px;
}

#services p {
    margin: 10px;
}

#services a {
    text-decoration: none;
    color: #0d0431;
}

.service_content {
    float: left;
    width: 50%;
    padding: 10px;
    margin-top: 1.8rem;
}

/**Contact**/
#contact {
    padding: 10px 40px;
    font-size: 18px;
}

.head-con{
    margin-top: 12rem;
}

.head-con h2{
    border-bottom: 5px solid #ed83b3;
    width: 100px;
}

.loc{
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 20px;
}

.loc > div {
    width: 50%;
    display: block;
}

/* footer */
.sidenav .copyright {    
    text-align: center;
    bottom: 0;
    color: #1961bfbb;
}